*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    max-width: 300px;
    width: 100%;
    list-style-type: none;
    margin: 15px auto;
}
li {
    text-align: left;
    margin-bottom: 10px;
    background-color: #507947;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
  }

  span{
    padding: 15px;
  }

  li:hover{
    box-shadow: 5px 5px 5px 1px black;
  }